@namespace ConsoleApp.Render.Views

@using ConsoleApp.Render.Models.ViewModels
@Header
@foreach (var messageItem in MessageItems)
{
    <div id="id_@messageItem">@messageItem</div>
}

<div>
    <img src="@($"data:image/png;base64,{DownloadImageBase64}")" />
    <video controls>
        <source src="@($"data:video/mp4;base64,{DownloadVideoBase64}")" type="video/mp4">
    </video>

    <span id="inner_id">@InnerMessageViewModel.MsgId</span>
    <span id="inner_name">@InnerMessageViewModel.MsgName</span>
    @Body
</div>

<p>@Message</p>

<FooterComponent Info=@($"This is SimpleBody Info - {Message}")>
    <SimpleBodyComponent Info=@($"This is InnerSimpleBody Info - {InnerMessageViewModel.MsgName}")>
        <!--InnerBody RenderFragment in SimpleBody and  in Footer we have ChildContent is agreement and no need to define <ChildContent> </ChildContent> -->
        <InnerSimpleBodyComponent>
            @if (IsInnerApplied)
            {
                <div>inner is applied</div>
            } else
            {
                <div>inner is not applied</div>
            }
        </InnerSimpleBodyComponent>
    </SimpleBodyComponent>
</FooterComponent>

@code {

    [Parameter]
    public string DownloadVideoBase64 { get; set; }
    
    [Parameter]
    public string DownloadImageBase64 { get; set; }

    [Parameter]
    public bool IsInnerApplied { get; set; }

    [Parameter]
    public string Message { get; set; }

    [Parameter]
    public string[] MessageItems { get; set; }

    [Parameter]
    public InnerRenderMsgViewModel InnerMessageViewModel { get; set; }

    [Parameter]
    public RenderFragment Header { get; set; }

    [Parameter]
    public RenderFragment Body { get; set; }
}